p {
  font-size: 1.5em;
  font-style: italic;
  font-weight: bold;
  color: darkgray;
  text-align: center;
}

.box {
  width: 35%;
  margin: 20px;
  background-color: lightgreen;
  border: 3px solid green;
  padding: 10px;
  display: inline-flex;
}

.box h3 {
  text-align: center;
  font-size: 1.2em;
  color: gray;
}

button {
  width: 50px;
  color: black;
  border-radius: 3px;
  border: 2px solid navy;
  background-color: lightblue;
}